/*
 Theme Name:    Electro Child
 Theme URI:     https://themeforest.net/item/electro-electronics-store-woocommerce-theme/15720624
 Description:   This is the child theme of Electro
 Author:        MadrasThemes
 Author URI:    https://madrasthemes.com/
 Template:      electro
 Version:       2.0.10
 License:       GNU General Public License v2 or later
 License URI:   http://www.gnu.org/licenses/gpl-2.0.html
 Tags:          light, dark, two-columns, right-sidebar, responsive-layout
 Text Domain:   electro-child
*/

/* colores gris */

.features-list .media-left i,
.footer-call-us .call-us-icon i,
.footer-v2 .handheld-footer .handheld-footer-bar .footer-call-us .call-us-text span,
.handheld-footer .handheld-footer-bar .footer-call-us .call-us-text span,
.header-support-info .support-icon i,
.header-support-inner .support-icon,
.secondary-nav>.dropdown.open>a::before,
.top-bar.top-bar-v1 #menu-top-bar-left.nav-inline .menu-item>a i,
.widget_electro_products_filter .widget_layered_nav li.chosen>a::before,
.widget_electro_products_filter .widget_layered_nav li>a:focus::before,
.widget_electro_products_filter .widget_layered_nav li>a:hover::before,
.widget_electro_products_filter .widget_product_categories li.current-cat>a::before,
.widget_electro_products_filter .widget_product_categories li>a:focus::before,
.widget_electro_products_filter .widget_product_categories li>a:hover::before,
p.stars a {
    color: #333 !important;
}

.footer-logo svg ellipse,
.header-logo svg ellipse {
    fill: #333 !important;
}

.best-selling-menu .nav-item>ul>li.electro-more-menu-item .dropdown-menu,
.departments-menu .menu-item-has-children:hover>.dropdown-menu,
.departments-menu-v2 .departments-menu-v2-title+.dropdown-menu li.menu-item-has-children .dropdown-menu,
.dropdown-menu-mini-cart,
.dropdown-menu-user-account,
.electro-navbar-primary .nav>.menu-item.menu-item-has-children .dropdown-menu,
.header-v5 .electro-navigation .departments-menu-v2>.dropdown>.dropdown-menu,
.header-v6 .header-logo-area .departments-menu-v2 .departments-menu-v2-title+.dropdown-menu,
.header-v6 .vertical-menu .list-group-item>.dropdown-menu,
.home-v5-slider .tp-tab.selected .tp-tab-title:after,
.home-v5-slider .tp-tab.selected .tp-tab-title:before,
.navbar-primary .navbar-nav>.menu-item .dropdown-menu,
.primary-nav .nav-inline>.menu-item .dropdown-menu,
.primary-nav-menu .nav-inline>.menu-item .dropdown-menu,
.product-categories-list-with-header.v2 header .caption .section-title:after,
.secondary-nav-v6 .secondary-nav-v6-inner .sub-menu,
.secondary-nav-v6 .widget_nav_menu .sub-menu,
.secondary-nav>.dropdown .dropdown-menu,
.top-bar .nav-inline>.menu-item .dropdown-menu,
.vertical-menu .menu-item-has-children>.dropdown-menu {
    border-top-color: #333 !important;
}

.columns-6-1>ul.products.product-main-6-1 .electro-wc-product-gallery__wrapper .electro-wc-product-gallery__image.flex-active-slide img,
.columns-6-1>ul.products>li.product .thumbnails>a:hover,
.electro-navbar .departments-menu-v2 .departments-menu-v2-title+.dropdown-menu li.menu-item-has-children>.dropdown-menu,
.home-v5-slider .tp-tab.selected .tp-tab-title:after,
.primary-nav .nav-inline .yamm-fw.open>a::before,
.product-main-6-1 .thumbnails>a:focus,
.product-main-6-1 .thumbnails>a:focus>img,
.product-main-6-1 .thumbnails>a:hover,
.product-main-6-1 .thumbnails>a:hover>img,
.products-6-1-with-categories-inner .product-main-6-1 .images .thumbnails a:hover,
.single-product .electro-wc-product-gallery .electro-wc-product-gallery__wrapper .electro-wc-product-gallery__image.flex-active-slide img {
    border-bottom-color: #333 !important;
}

#payment .place-order button[type=submit],
.button:hover::before,
.columns-6-1>ul.products.product-main-6-1>li.product .electro-wc-product-gallery .flex-control-nav li a.flex-active,
.da .da-action>a::after,
.da-block .da-action::after,
.deal-products-with-featured header,
.deal-products-with-featured ul.products>li.product.product-featured .savings,
.deal-progress .progress-bar,
.demo_store,
.departments-menu-v2-title,
.ec-tabs>li.active a::before,
.electro-compact .section-onsale-product .savings,
.electro-compact .section-onsale-product-carousel .savings,
.electro-handheld-footer-bar ul li a .count,
.electro-navbar,
.electro-navbar-primary,
.footer-newsletter,
.full-color-background .header-v3,
.full-color-background .header-v4,
.full-color-background .top-bar,
.handheld-header-v2,
.handheld-navigation-wrapper .stuck .navbar-toggler,
.handheld-navigation-wrapper .stuck button,
.handheld-navigation-wrapper.toggled .stuck .navbar-toggler,
.handheld-navigation-wrapper.toggled .stuck button,
.header-icon-counter,
.header-v1 .navbar-search .input-group .btn,
.header-v3 .navbar-search .input-group .btn,
.header-v5,
.header-v5 .header-top,
.header-v5 .stuck,
.header-v6 .navbar-search .input-group .btn,
.home-mobile-v2-features-block,
.mobile-header-v2,
.navbar-compare .count,
.navbar-mini-cart .cart-items-count,
.navbar-primary,
.navbar-search-input-group .navbar-search-button,
.navbar-wishlist .count,
.owl-dots .owl-dot.active,
.owl-item .product:hover .added_to_cart::before,
.owl-item .product:hover .button::before,
.pace .pace-progress,
.pagination ul.page-numbers>li a.current,
.pagination ul.page-numbers>li span.current,
.product-categories-list-with-header.v2 header .caption .section-title,
.products-2-1-2 .nav-link.active::before,
.products-2-1-2 .nav-link:hover::before,
.products-6-1 header.show-nav ul.nav .nav-item.active .nav-link,
.products-carousel-tabs .nav-link.active::before,
.products-carousel-tabs-v5 header ul.nav-inline .nav-link.active,
.products.show-btn>li.product .added_to_cart,
.products.show-btn>li.product .button,
.section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .deal-cart-button .added_to_cart,
.section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .deal-cart-button .button,
.show-nav .nav .nav-item.active .nav-link,
.single-product .product-images-wrapper .flex-control-nav li a.flex-active,
.single_add_to_cart_button,
.vertical-menu>li:first-child,
.wc-tabs>li.active a::before,
.widget.widget_tag_cloud .tagcloud a:focus,
.widget.widget_tag_cloud .tagcloud a:hover,
.widget_electro_products_carousel_widget .section-products-carousel .owl-nav .owl-next:hover,
.widget_electro_products_carousel_widget .section-products-carousel .owl-nav .owl-prev:hover,
.widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-info,
.woocommerce-noreviews,
.woocommerce-pagination ul.page-numbers>li a.current,
.woocommerce-pagination ul.page-numbers>li span.current,
.wpb-accordion .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title>a i,
li.product:hover .added_to_cart::before,
li.product:hover .button::before,
p.no-comments,
section .deals-carousel-inner-block .onsale-product .onsale-product-content .deal-cart-button .added_to_cart,
section .deals-carousel-inner-block .onsale-product .onsale-product-content .deal-cart-button .button,
ul.products>li.product.list-view.list-view-small .button:active::after,
ul.products>li.product.list-view.list-view-small .button:focus::after,
ul.products>li.product.list-view.list-view-small .button:hover::after,
ul.products>li.product.list-view:not(.list-view-small) .button:active,
ul.products>li.product.list-view:not(.list-view-small) .button:focus,
ul.products>li.product.list-view:not(.list-view-small) .button:hover,
ul.products[data-view=list-view]:not(.electro-v1).columns-1>li.product .product-loop-footer .button,
ul.products[data-view=list-view]:not(.electro-v1).columns-2>li.product .product-loop-footer .button,
ul.products[data-view=list-view]:not(.electro-v1).columns-3>li.product .product-loop-footer .button,
ul.products[data-view=list-view]:not(.electro-v1).columns-4>li.product .product-loop-footer .button,
ul.products[data-view=list-view]:not(.electro-v1).columns-5>li.product .product-loop-footer .button,
ul.products[data-view=list-view]:not(.electro-v1).columns-6>li.product .product-loop-footer .button,
ul.products[data-view=list-view]:not(.electro-v1).columns-7>li.product .product-loop-footer .button,
ul.products[data-view=list-view]:not(.electro-v1).columns-8>li.product .product-loop-footer .button {
    background-color: #333 !important;
}

.electro-navbar .departments-menu-v2 .departments-menu-v2-title+.dropdown-menu li.menu-item-has-children>.dropdown-menu {
    border-right-color: #333 !important;
}

.hero-action-btn:hover {
    background-color: #767676 !important
}

#scrollUp,
.custom .tp-bullet.selected,
.hero-action-btn,
.home-v1-slider .btn-primary,
.home-v2-slider .btn-primary,
.home-v3-slider .btn-primary {
    background-color: #333 !important;
}

#customer_login h2::after,
#payment .place-order button[type=submit],
#reviews #comments>h2::after,
#reviews:not(.electro-advanced-reviews) #comments>h2::after,
.address header.title h3::after,
.addresses header.title h3::after,
.cart-collaterals h2:not(.woocommerce-loop-product__title)::after,
.comment-reply-title::after,
.comments-title::after,
.contact-page-title::after,
.cpf-type-range .tm-range-picker .noUi-origin .noUi-handle,
.customer-login-form h2::after,
.deal-products-carousel .deal-products-carousel-inner .deal-countdown>span,
.deal-products-carousel .deal-products-carousel-inner .deal-products-timer header .section-title:after,
.deals-carousel-inner-block .onsale-product .onsale-product-content .deal-countdown>span,
.departments-menu .departments-menu-dropdown,
.departments-menu .menu-item-has-children>.dropdown-menu,
.departments-menu-v2 .departments-menu-v2-title+.dropdown-menu,
.ec-tabs>li.active a::after,
.edit-account legend::after,
.footer-widgets .widget-title:after,
.header-v1 .navbar-search .input-group .btn,
.header-v1 .navbar-search .input-group .form-control,
.header-v1 .navbar-search .input-group .input-group-addon,
.header-v3 .navbar-search .input-group .btn,
.header-v3 .navbar-search .input-group .form-control,
.header-v3 .navbar-search .input-group .input-group-addon,
.header-v6 .navbar-search .input-group .btn,
.header-v6 .navbar-search .input-group .form-control,
.header-v6 .navbar-search .input-group .input-group-addon,
.home-v5-slider .section-onsale-product-v2 .onsale-product .onsale-product-content .deal-countdown>span,
.mobile-header-v1 .site-search .widget.widget_product_search form input.search-field,
.mobile-header-v1 .site-search .widget.widget_search form input.search-field,
.navbar-primary .navbar-mini-cart .dropdown-menu-mini-cart,
.navbar-search-input-group .custom-select,
.navbar-search-input-group .search-field,
.pings-title::after,
.products-2-1-2 .nav-link.active::after,
.products-6-1 header ul.nav .active .nav-link,
.products-6-1 header.show-nav ul.nav .nav-item.active .nav-link,
.products-6-1-with-categories header ul.nav-inline .active .nav-link,
.products-carousel-tabs .nav-link.active::after,
.products-carousel-tabs-v5 header ul.nav-inline .nav-link:hover,
.products-with-category-image header ul.nav-inline .active .nav-link,
.show-nav .nav .nav-item.active .nav-link,
.sidebar .widget-title::after,
.sidebar-blog .widget-title::after,
.single-product .electro-tabs+section.products>h2::after,
.single-product .electro-tabs~div.products>h2::after,
.single-product .woocommerce-tabs+section.products>h2::after,
.single-product .woocommerce-tabs~div.products>h2::after,
.track-order h2::after,
.wc-tabs>li.active a::after,
.widget.widget_tag_cloud .tagcloud a:focus,
.widget.widget_tag_cloud .tagcloud a:hover,
.widget_electro_products_carousel_widget .section-products-carousel .owl-nav .owl-next:hover,
.widget_electro_products_carousel_widget .section-products-carousel .owl-nav .owl-prev:hover,
.widget_price_filter .ui-slider .ui-slider-handle:last-child,
.woocommerce-account h2::after,
.woocommerce-checkout h3::after,
.woocommerce-edit-address form h3::after,
.woocommerce-order-received h2::after,
.wpb-accordion .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title>a i,
section header .h1::after,
section header h1::after,
section.products-carousel-v5 header .nav-inline .active .nav-link,
section.section-onsale-product,
section.section-onsale-product-carousel .onsale-product-carousel,
section.section-product-cards-carousel header ul.nav .active .nav-link {
    border-color: #333 !important;
}

.btn-primary,
.customer-login-form .button,
.dokan-btn-theme,
.dropdown-menu-mini-cart .wc-forward.checkout,
.sign-in-button,
.widget_price_filter .price_slider_amount .button,
a.dokan-btn-theme,
input.dokan-btn-theme[type=submit],
input[type=submit],
table.cart .actions .checkout-button {
    color: #333e48;
    background-color: #333 !important;
    border-color: #333 !important;
}

.btn-primary:hover,
.customer-login-form .button:hover,
.dokan-btn-theme:hover,
.dropdown-menu-mini-cart .wc-forward.checkout:hover,
.sign-in-button:hover,
.widget_price_filter .price_slider_amount .button:hover,
a.dokan-btn-theme:hover,
input.dokan-btn-theme[type=submit]:hover,
input[type=submit]:hover,
table.cart .actions .checkout-button:hover {
    color: #fff;
    background-color: #000;
    border-color: #000
}

.btn-primary.focus,
.btn-primary:focus,
.customer-login-form .button.focus,
.customer-login-form .button:focus,
.dokan-btn-theme.focus,
.dokan-btn-theme:focus,
.dropdown-menu-mini-cart .wc-forward.checkout.focus,
.dropdown-menu-mini-cart .wc-forward.checkout:focus,
.sign-in-button.focus,
.sign-in-button:focus,
.widget_price_filter .price_slider_amount .button.focus,
.widget_price_filter .price_slider_amount .button:focus,
a.dokan-btn-theme.focus,
a.dokan-btn-theme:focus,
input.dokan-btn-theme[type=submit].focus,
input.dokan-btn-theme[type=submit]:focus,
input[type=submit].focus,
input[type=submit]:focus,
table.cart .actions .checkout-button.focus,
table.cart .actions .checkout-button:focus {
    color: #fff;
    background-color: #000;
    border-color: #000
}

.btn-primary.active,
.btn-primary:active,
.customer-login-form .button.active,
.customer-login-form .button:active,
.dokan-btn-theme.active,
.dokan-btn-theme:active,
.dropdown-menu-mini-cart .wc-forward.checkout.active,
.dropdown-menu-mini-cart .wc-forward.checkout:active,
.open>.btn-primary.dropdown-toggle,
.open>.customer-login-form .button.dropdown-toggle,
.open>.dokan-btn-theme.dropdown-toggle,
.open>.dropdown-menu-mini-cart .wc-forward.checkout.dropdown-toggle,
.open>.sign-in-button.dropdown-toggle,
.open>.widget_price_filter .price_slider_amount .button.dropdown-toggle,
.open>a.dokan-btn-theme.dropdown-toggle,
.open>input.dokan-btn-theme[type=submit].dropdown-toggle,
.open>input[type=submit].dropdown-toggle,
.open>table.cart .actions .checkout-button.dropdown-toggle,
.sign-in-button.active,
.sign-in-button:active,
.widget_price_filter .price_slider_amount .button.active,
.widget_price_filter .price_slider_amount .button:active,
a.dokan-btn-theme.active,
a.dokan-btn-theme:active,
input.dokan-btn-theme[type=submit].active,
input.dokan-btn-theme[type=submit]:active,
input[type=submit].active,
input[type=submit]:active,
table.cart .actions .checkout-button.active,
table.cart .actions .checkout-button:active {
    color: #333e48;
    background-color: #000;
    border-color: #000;
    background-image: none
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.customer-login-form .button.active.focus,
.customer-login-form .button.active:focus,
.customer-login-form .button.active:hover,
.customer-login-form .button:active.focus,
.customer-login-form .button:active:focus,
.customer-login-form .button:active:hover,
.dokan-btn-theme.active.focus,
.dokan-btn-theme.active:focus,
.dokan-btn-theme.active:hover,
.dokan-btn-theme:active.focus,
.dokan-btn-theme:active:focus,
.dokan-btn-theme:active:hover,
.dropdown-menu-mini-cart .wc-forward.checkout.active.focus,
.dropdown-menu-mini-cart .wc-forward.checkout.active:focus,
.dropdown-menu-mini-cart .wc-forward.checkout.active:hover,
.dropdown-menu-mini-cart .wc-forward.checkout:active.focus,
.dropdown-menu-mini-cart .wc-forward.checkout:active:focus,
.dropdown-menu-mini-cart .wc-forward.checkout:active:hover,
.open>.btn-primary.dropdown-toggle.focus,
.open>.btn-primary.dropdown-toggle:focus,
.open>.btn-primary.dropdown-toggle:hover,
.open>.customer-login-form .button.dropdown-toggle.focus,
.open>.customer-login-form .button.dropdown-toggle:focus,
.open>.customer-login-form .button.dropdown-toggle:hover,
.open>.dokan-btn-theme.dropdown-toggle.focus,
.open>.dokan-btn-theme.dropdown-toggle:focus,
.open>.dokan-btn-theme.dropdown-toggle:hover,
.open>.dropdown-menu-mini-cart .wc-forward.checkout.dropdown-toggle.focus,
.open>.dropdown-menu-mini-cart .wc-forward.checkout.dropdown-toggle:focus,
.open>.dropdown-menu-mini-cart .wc-forward.checkout.dropdown-toggle:hover,
.open>.sign-in-button.dropdown-toggle.focus,
.open>.sign-in-button.dropdown-toggle:focus,
.open>.sign-in-button.dropdown-toggle:hover,
.open>.widget_price_filter .price_slider_amount .button.dropdown-toggle.focus,
.open>.widget_price_filter .price_slider_amount .button.dropdown-toggle:focus,
.open>.widget_price_filter .price_slider_amount .button.dropdown-toggle:hover,
.open>a.dokan-btn-theme.dropdown-toggle.focus,
.open>a.dokan-btn-theme.dropdown-toggle:focus,
.open>a.dokan-btn-theme.dropdown-toggle:hover,
.open>input.dokan-btn-theme[type=submit].dropdown-toggle.focus,
.open>input.dokan-btn-theme[type=submit].dropdown-toggle:focus,
.open>input.dokan-btn-theme[type=submit].dropdown-toggle:hover,
.open>input[type=submit].dropdown-toggle.focus,
.open>input[type=submit].dropdown-toggle:focus,
.open>input[type=submit].dropdown-toggle:hover,
.open>table.cart .actions .checkout-button.dropdown-toggle.focus,
.open>table.cart .actions .checkout-button.dropdown-toggle:focus,
.open>table.cart .actions .checkout-button.dropdown-toggle:hover,
.sign-in-button.active.focus,
.sign-in-button.active:focus,
.sign-in-button.active:hover,
.sign-in-button:active.focus,
.sign-in-button:active:focus,
.sign-in-button:active:hover,
.widget_price_filter .price_slider_amount .button.active.focus,
.widget_price_filter .price_slider_amount .button.active:focus,
.widget_price_filter .price_slider_amount .button.active:hover,
.widget_price_filter .price_slider_amount .button:active.focus,
.widget_price_filter .price_slider_amount .button:active:focus,
.widget_price_filter .price_slider_amount .button:active:hover,
a.dokan-btn-theme.active.focus,
a.dokan-btn-theme.active:focus,
a.dokan-btn-theme.active:hover,
a.dokan-btn-theme:active.focus,
a.dokan-btn-theme:active:focus,
a.dokan-btn-theme:active:hover,
input.dokan-btn-theme[type=submit].active.focus,
input.dokan-btn-theme[type=submit].active:focus,
input.dokan-btn-theme[type=submit].active:hover,
input.dokan-btn-theme[type=submit]:active.focus,
input.dokan-btn-theme[type=submit]:active:focus,
input.dokan-btn-theme[type=submit]:active:hover,
input[type=submit].active.focus,
input[type=submit].active:focus,
input[type=submit].active:hover,
input[type=submit]:active.focus,
input[type=submit]:active:focus,
input[type=submit]:active:hover,
table.cart .actions .checkout-button.active.focus,
table.cart .actions .checkout-button.active:focus,
table.cart .actions .checkout-button.active:hover,
table.cart .actions .checkout-button:active.focus,
table.cart .actions .checkout-button:active:focus,
table.cart .actions .checkout-button:active:hover {
    color: #333e48;
    background-color: #555;
    border-color: #404040
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary:disabled.focus,
.btn-primary:disabled:focus,
.customer-login-form .button.disabled.focus,
.customer-login-form .button.disabled:focus,
.customer-login-form .button:disabled.focus,
.customer-login-form .button:disabled:focus,
.dokan-btn-theme.disabled.focus,
.dokan-btn-theme.disabled:focus,
.dokan-btn-theme:disabled.focus,
.dokan-btn-theme:disabled:focus,
.dropdown-menu-mini-cart .wc-forward.checkout.disabled.focus,
.dropdown-menu-mini-cart .wc-forward.checkout.disabled:focus,
.dropdown-menu-mini-cart .wc-forward.checkout:disabled.focus,
.dropdown-menu-mini-cart .wc-forward.checkout:disabled:focus,
.sign-in-button.disabled.focus,
.sign-in-button.disabled:focus,
.sign-in-button:disabled.focus,
.sign-in-button:disabled:focus,
.widget_price_filter .price_slider_amount .button.disabled.focus,
.widget_price_filter .price_slider_amount .button.disabled:focus,
.widget_price_filter .price_slider_amount .button:disabled.focus,
.widget_price_filter .price_slider_amount .button:disabled:focus,
a.dokan-btn-theme.disabled.focus,
a.dokan-btn-theme.disabled:focus,
a.dokan-btn-theme:disabled.focus,
a.dokan-btn-theme:disabled:focus,
input.dokan-btn-theme[type=submit].disabled.focus,
input.dokan-btn-theme[type=submit].disabled:focus,
input.dokan-btn-theme[type=submit]:disabled.focus,
input.dokan-btn-theme[type=submit]:disabled:focus,
input[type=submit].disabled.focus,
input[type=submit].disabled:focus,
input[type=submit]:disabled.focus,
input[type=submit]:disabled:focus,
table.cart .actions .checkout-button.disabled.focus,
table.cart .actions .checkout-button.disabled:focus,
table.cart .actions .checkout-button:disabled.focus,
table.cart .actions .checkout-button:disabled:focus {
    background-color: #333 !important;
    border-color: #333 !important;
}

.btn-primary.disabled:hover,
.btn-primary:disabled:hover,
.customer-login-form .button.disabled:hover,
.customer-login-form .button:disabled:hover,
.dokan-btn-theme.disabled:hover,
.dokan-btn-theme:disabled:hover,
.dropdown-menu-mini-cart .wc-forward.checkout.disabled:hover,
.dropdown-menu-mini-cart .wc-forward.checkout:disabled:hover,
.sign-in-button.disabled:hover,
.sign-in-button:disabled:hover,
.widget_price_filter .price_slider_amount .button.disabled:hover,
.widget_price_filter .price_slider_amount .button:disabled:hover,
a.dokan-btn-theme.disabled:hover,
a.dokan-btn-theme:disabled:hover,
input.dokan-btn-theme[type=submit].disabled:hover,
input.dokan-btn-theme[type=submit]:disabled:hover,
input[type=submit].disabled:hover,
input[type=submit]:disabled:hover,
table.cart .actions .checkout-button.disabled:hover,
table.cart .actions .checkout-button:disabled:hover {
    background-color: #333 !important;
    border-color: #333 !important;
}

.electro-navbar-primary .nav>.menu-item>a:focus,
.electro-navbar-primary .nav>.menu-item>a:hover,
.navbar-primary .navbar-nav>.menu-item>a:focus,
.navbar-primary .navbar-nav>.menu-item>a:hover {
    background-color: #757575
}

.navbar-primary .navbar-nav>.menu-item>a {
    border-color: #757575
}

.electro-compact .header-v4 .electro-navbar-primary,
.full-color-background .navbar-primary,
.header-v4 .electro-navbar-primary {
    border-top-color: #757575
}

.full-color-background .top-bar .nav-inline .menu-item+.menu-item:before {
    color: #757575
}

.electro-navbar-primary .nav>.menu-item+.menu-item>a,
.home-mobile-v2-features-block .features-list .feature+.feature .media {
    border-left-color: #757575
}

.header-v5 .vertical-menu .list-group-item>.dropdown-menu {
    border-top-color: #333 !important;
}

.columns-6-1>ul.products.product-main-6-1 .flex-control-thumbs li img.flex-active,
.products-2-1-2 .nav-link:hover::after,
.section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-thumbnails .images .thumbnails a.current,
.single-product div.thumbnails-all .synced a,
.woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
    border-bottom-color: #333 !important;
}

.home-v1-slider .btn-primary:hover,
.home-v2-slider .btn-primary:hover,
.home-v3-slider .btn-primary:hover {
    background-color: #767676 !important
}

.dokan-coupon-content .code:hover,
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.active,
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a.active,
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a:focus,
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a:hover,
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li:focus,
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover,
.dokan-dashboard .pagination-wrap ul.pagination>li a.current,
.dokan-dashboard .pagination-wrap ul.pagination>li span.current,
.dokan-dashboard-header h1.entry-title span.dokan-right a.dokan-btn.dokan-btn-sm,
.dokan-pagination-container ul.dokan-pagination>li.active>a,
.dokan-report-wrap ul.dokan_tabs>li.active a::before,
.dokan-store .pagination-wrap ul.pagination>li a.current,
.dokan-store .pagination-wrap ul.pagination>li span.current {
    background-color: #333 !important;
}

.dokan-dashboard-header h1.entry-title span.dokan-right a.dokan-btn.dokan-btn-sm,
.dokan-report-wrap ul.dokan_tabs>li.active a::after,
.dokan-widget-area .widget .widget-title:after {
    border-color: #333 !important;
}

.dokan-btn-theme,
a.dokan-btn-theme,
input.dokan-btn-theme[type=submit] {
    color: #333e48;
    background-color: #333 !important;
    border-color: #333 !important;
}

.dokan-btn-theme:hover,
a.dokan-btn-theme:hover,
input.dokan-btn-theme[type=submit]:hover {
    color: #fff;
    background-color: #000;
    border-color: #000
}

.dokan-btn-theme.focus,
.dokan-btn-theme:focus,
a.dokan-btn-theme.focus,
a.dokan-btn-theme:focus,
input.dokan-btn-theme[type=submit].focus,
input.dokan-btn-theme[type=submit]:focus {
    color: #fff;
    background-color: #000;
    border-color: #000
}

.dokan-btn-theme.active,
.dokan-btn-theme:active,
.open>.dokan-btn-theme.dropdown-toggle,
.open>a.dokan-btn-theme.dropdown-toggle,
.open>input.dokan-btn-theme[type=submit].dropdown-toggle,
a.dokan-btn-theme.active,
a.dokan-btn-theme:active,
input.dokan-btn-theme[type=submit].active,
input.dokan-btn-theme[type=submit]:active {
    color: #333e48;
    background-color: #000;
    border-color: #000;
    background-image: none
}

.dokan-btn-theme.active.focus,
.dokan-btn-theme.active:focus,
.dokan-btn-theme.active:hover,
.dokan-btn-theme:active.focus,
.dokan-btn-theme:active:focus,
.dokan-btn-theme:active:hover,
.open>.dokan-btn-theme.dropdown-toggle.focus,
.open>.dokan-btn-theme.dropdown-toggle:focus,
.open>.dokan-btn-theme.dropdown-toggle:hover,
.open>a.dokan-btn-theme.dropdown-toggle.focus,
.open>a.dokan-btn-theme.dropdown-toggle:focus,
.open>a.dokan-btn-theme.dropdown-toggle:hover,
.open>input.dokan-btn-theme[type=submit].dropdown-toggle.focus,
.open>input.dokan-btn-theme[type=submit].dropdown-toggle:focus,
.open>input.dokan-btn-theme[type=submit].dropdown-toggle:hover,
a.dokan-btn-theme.active.focus,
a.dokan-btn-theme.active:focus,
a.dokan-btn-theme.active:hover,
a.dokan-btn-theme:active.focus,
a.dokan-btn-theme:active:focus,
a.dokan-btn-theme:active:hover,
input.dokan-btn-theme[type=submit].active.focus,
input.dokan-btn-theme[type=submit].active:focus,
input.dokan-btn-theme[type=submit].active:hover,
input.dokan-btn-theme[type=submit]:active.focus,
input.dokan-btn-theme[type=submit]:active:focus,
input.dokan-btn-theme[type=submit]:active:hover {
    color: #333e48;
    background-color: #555;
    border-color: #404040
}

.dokan-btn-theme.disabled.focus,
.dokan-btn-theme.disabled:focus,
.dokan-btn-theme:disabled.focus,
.dokan-btn-theme:disabled:focus,
a.dokan-btn-theme.disabled.focus,
a.dokan-btn-theme.disabled:focus,
a.dokan-btn-theme:disabled.focus,
a.dokan-btn-theme:disabled:focus,
input.dokan-btn-theme[type=submit].disabled.focus,
input.dokan-btn-theme[type=submit].disabled:focus,
input.dokan-btn-theme[type=submit]:disabled.focus,
input.dokan-btn-theme[type=submit]:disabled:focus {
    background-color: #333 !important;
    border-color: #333 !important;
}

.dokan-btn-theme.disabled:hover,
.dokan-btn-theme:disabled:hover,
a.dokan-btn-theme.disabled:hover,
a.dokan-btn-theme:disabled:hover,
input.dokan-btn-theme[type=submit].disabled:hover,
input.dokan-btn-theme[type=submit]:disabled:hover {
    background-color: #333 !important;
    border-color: #333 !important;
}

.dokan-dashboard-header h1.entry-title small a,
.dokan-orders-content .dokan-orders-area .general-details ul.customer-details li a,
.electro-tabs #tab-seller.electro-tab .tab-content ul.list-unstyled li.seller-name span.details a {
    color: #333 !important;
}

.dokan-dashboard-header h1.entry-title small a:focus,
.dokan-dashboard-header h1.entry-title small a:hover {
    color: #767676
}

#payment .place-order .button,
.customer-login-form .button,
.deal-products-with-featured header .deal-countdown-timer,
.deal-products-with-featured header .deal-countdown-timer:before,
.deal-products-with-featured header h2,
.deal-products-with-featured header h2:after,
.deal-products-with-featured ul.products>li.product.product-featured .savings,
.demo_store,
.departments-menu-v2-title,
.departments-menu-v2-title:focus,
.departments-menu-v2-title:hover,
.departments-menu>.nav-item .nav-link,
.dropdown-menu-mini-cart .wc-forward.checkout,
.electro-compact .section-onsale-product .savings,
.electro-compact .section-onsale-product-carousel .savings,
.electro-navbar .header-icon>a,
.electro-navbar-primary .nav>.menu-item>a,
.footer-newsletter .newsletter-marketing-text,
.footer-newsletter .newsletter-title,
.footer-newsletter .newsletter-title::before,
.full-color-background .header-v1 .navbar-nav .nav-link,
.full-color-background .header-v3 .navbar-nav .nav-link,
.full-color-background .navbar-primary .navbar-nav>.menu-item>a,
.full-color-background .navbar-primary .navbar-nav>.menu-item>a:focus,
.full-color-background .navbar-primary .navbar-nav>.menu-item>a:hover,
.full-color-background .top-bar .nav-inline .menu-item+.menu-item:before,
.full-color-background .top-bar .nav-inline .menu-item>a,
.handheld-header-v2 .handheld-header-links>ul a,
.handheld-header-v2 .off-canvas-navigation-wrapper .navbar-toggler,
.handheld-header-v2 .off-canvas-navigation-wrapper button,
.handheld-header-v2 .off-canvas-navigation-wrapper.toggled .navbar-toggler,
.handheld-header-v2 .off-canvas-navigation-wrapper.toggled button,
.header-icon .header-icon-counter,
.header-v1 .navbar-search .input-group .btn,
.header-v1 .navbar-search .input-group .hero-action-btn,
.header-v3 .navbar-search .input-group .btn,
.header-v3 .navbar-search .input-group .hero-action-btn,
.header-v4 .masthead .header-icon>a,
.header-v5 .handheld-header-v2 .handheld-header-links .cart .count,
.header-v5 .masthead .header-icon>a,
.header-v6 .navbar-search .input-group .btn,
.home-mobile-v2-features-block .features-list .feature,
.home-mobile-v2-features-block .features-list .media-left i,
.mobile-handheld-department ul.nav li a,
.mobile-header-v2 .off-canvas-navigation-wrapper .navbar-toggler,
.mobile-header-v2 .off-canvas-navigation-wrapper button,
.mobile-header-v2 .off-canvas-navigation-wrapper.toggled .navbar-toggler,
.mobile-header-v2 .off-canvas-navigation-wrapper.toggled button,
.mobile-header-v2-inner .handheld-header-links>ul a,
.navbar-compare .count,
.navbar-mini-cart .cart-items-count,
.navbar-primary .navbar-nav .nav-link,
.navbar-primary .navbar-nav>.menu-item>a,
.navbar-primary .navbar-nav>.menu-item>a:focus,
.navbar-primary .navbar-nav>.menu-item>a:hover,
.navbar-primary a[data-toggle=dropdown]::after,
.navbar-wishlist .count,
.pagination ul.page-numbers>li a.current,
.pagination ul.page-numbers>li span.current,
.product-categories-list-with-header.v2 header .caption .section-title,
.products-carousel-tabs-v5 header .nav-link.active,
.vertical-menu>li.list-group-item.dropdown>a[data-toggle=dropdown-hover],
.vertical-menu>li.list-group-item.dropdown>a[data-toggle=dropdown],
.vertical-menu>li.list-group-item>a,
.vertical-menu>li.list-group-item>span,
.widget_price_filter .price_slider_amount .button,
.woocommerce-info,
.woocommerce-info a,
.woocommerce-info button,
.woocommerce-noreviews,
.woocommerce-noreviews a,
.woocommerce-noreviews button,
.woocommerce-pagination ul.page-numbers>li a.current,
.woocommerce-pagination ul.page-numbers>li span.current,
input[type=submit],
p.no-comments,
p.no-comments a,
p.no-comments button,
table.cart .actions .checkout-button {
    color: #fff
}

.vertical-menu>li.list-group-item.dropdown>a[data-toggle=dropdown-hover]:focus,
.vertical-menu>li.list-group-item.dropdown>a[data-toggle=dropdown-hover]:hover,
.vertical-menu>li.list-group-item.dropdown>a[data-toggle=dropdown]:focus,
.vertical-menu>li.list-group-item.dropdown>a[data-toggle=dropdown]:hover,
.woocommerce-info a:focus,
.woocommerce-info a:hover,
.woocommerce-info button:focus,
.woocommerce-info button:hover,
.woocommerce-noreviews a:focus,
.woocommerce-noreviews a:hover,
.woocommerce-noreviews button:focus,
.woocommerce-noreviews button:hover,
p.no-comments a:focus,
p.no-comments a:hover,
p.no-comments button:focus,
p.no-comments button:hover {
    color: #fafafa
}

.full-color-background .header-logo path {
    fill: #fff
}

.handheld-navigation-wrapper .stuck .navbar-toggler,
.handheld-navigation-wrapper .stuck button,
.handheld-navigation-wrapper.toggled .stuck .navbar-toggler,
.handheld-navigation-wrapper.toggled .stuck button,
.header-v4 .off-canvas-navigation-wrapper .navbar-toggler,
.header-v4 .off-canvas-navigation-wrapper button,
.header-v4 .off-canvas-navigation-wrapper.toggled .navbar-toggler,
.header-v4 .off-canvas-navigation-wrapper.toggled button,
.header-v5 .masthead .header-icon>a:focus,
.header-v5 .masthead .header-icon>a:hover,
.header-v5 .masthead .header-logo-area .navbar-toggler,
.home-v1-slider .btn-primary,
.home-v1-slider .btn-primary:hover,
.home-v2-slider .btn-primary,
.home-v2-slider .btn-primary:hover,
.home-v3-slider .btn-primary,
.home-v3-slider .btn-primary:hover {
    color: #fff !important
}

.electro-compact .header-v4 .navbar-toggler-icon,
.handheld-header-v2 .off-canvas-navigation-wrapper .navbar-toggler .navbar-toggler-icon,
.handheld-header-v2 .off-canvas-navigation-wrapper button .navbar-toggler-icon,
.handheld-header-v2 .off-canvas-navigation-wrapper.toggled .navbar-toggler .navbar-toggler-icon,
.handheld-header-v2 .off-canvas-navigation-wrapper.toggled button .navbar-toggler-icon,
.header-v4 .navbar-toggler-icon,
.header-v5 .masthead .navbar-toggler-icon,
.mobile-header-v2 .off-canvas-navigation-wrapper .navbar-toggler .navbar-toggler-icon,
.mobile-header-v2 .off-canvas-navigation-wrapper button .navbar-toggler-icon,
.mobile-header-v2 .off-canvas-navigation-wrapper.toggled .navbar-toggler .navbar-toggler-icon,
.mobile-header-v2 .off-canvas-navigation-wrapper.toggled button .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='butt' stroke-miterlimit='0' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

@media (max-width: 767px) {
    .show-nav .nav .nav-item.active .nav-link {
        color: #fff
    }
}

/* header */

.electro-compact .header-v3 .masthead,
.header-v3 .masthead {
    padding: 0 0 5px;
}

.electro-compact .top-bar.top-bar-v1 {
    background: #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

.electro-compact .electro-navbar-primary .nav>.menu-item>a {
    padding: 20px 30px;
}

/* pagina de producto */

.yith-wcwl-add-to-wishlist.add-to-wishlist-140 {
    display: none;
}

/*sucursales*/
.caja_sucursal{
    text-align: right;
    padding: 12px 20px;
    cursor: pointer;
}
.caja_sucursal .title{
    font-size: 14px;
    font-weight: 700;
}
.caja_sucursal:hover{
    background: #ededed;
}
.caja_sucursal:hover .title{
    color:#f85900;
}
.product:hover .woocommerce-loop-product__title,
.product:hover .woocommerce-loop-product__title{
    color:#f85900;
}